
@{
    ViewBag.Title = "Violation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container table-responsive" style="margin-top: 5%; margin-bottom: 5%;">
    <table class="table table-striped table-hover " id="empTable">
        <center>
            <h5>Carmelite Tasking</h5>
            <h6>April 8 - 17, 2019</h6>
        </center>
        <br>
        <br>
        @*<button class="btn btn-info" style="float:right;width:10% ;margin-left:10px;">$ Cancel</button>*@
        <button class="btn btn-info" style="float:right;width:10%">$ Shuffle</button>
        <br>
        <br>
        <thead class="head">
            <tr class="info">
                <th style="width: 34%;">Kitchen Team</th>
                <th style="width: 33%;">Dishwashers</th>
                <th style="width: 33%;">Front Garden</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @*<td>Bautista</td>*@
                <td>
                    <select name="studentsDin" id="studentsDin" class="form-control">
                        <option value="EX">( Choose Coordinator Here )</option>

                        <option>Student 1</option>
                        <option>Student 1</option>
                        <option>Student 1</option>
                        <option>Student 1</option>
                    </select>
                </td>
                @*<td>Goyo</td>*@
                <td>
                    <select name="studentsDin" id="studentsDin" class="form-control">
                        <option value="EX">( Choose Coordinator Here )</option>

                        <option>Student 1</option>
                        <option>Student 1</option>
                        <option>Student 1</option>
                        <option>Student 1</option>
                    </select>
                </td>
                <td><input style="background:transparent;border:none" disabled /></td>

            </tr>
            <tr>
                <td><input style="background:transparent;border:none" disabled /></td>
                <td><input style="background:transparent;border:none" disabled /></td>
                <td><input style="background:transparent;border:none" disabled /></td>
            </tr>
            <tr>
                <td><input style="background:transparent;border:none" disabled /></td>
                <td><input style="background:transparent;border:none" disabled /></td>
                <td><input style="background:transparent;border:none" disabled /></td>
            </tr>
            <tr>
                <td><input style="background:transparent;border:none" disabled /></td>
                <td><input style="background:transparent;border:none" disabled /></td>
                <td><input style="background:transparent;border:none" disabled /></td>
            </tr>
            <tr>
                <td><input style="background:transparent;border:none" disabled /></td>
                <td><input style="background:transparent;border:none" disabled /></td>
                <td><input style="background:transparent;border:none" disabled /></td>
            </tr>
            <tr>
                <td><input style="background:transparent;border:none" disabled /></td>
                <td><input style="background:transparent;border:none" disabled /></td>
                <th class="head info">Windows 1</th>
            </tr>
            <tr>
                <td><input style="background:transparent;border:none" disabled /></td>
                <td><input style="background:transparent;border:none" disabled /></td>
                <td><input style="background:transparent;border:none" disabled /></td>
            </tr>
            <tr>
                <td><input style="background:transparent;border:none" disabled /></td>
                <td><input style="background:transparent;border:none" disabled /></td>
                <td><input style="background:transparent;border:none" disabled /></td>
            </tr>
            <tr>
                <td><input style="background:transparent;border:none" disabled /></td>
                <td><input style="background:transparent;border:none" disabled /></td>
                <th class="head info">Laundry Area</th>
            </tr>
            <tr>
                <td><input style="background:transparent;border:none" disabled /></td>
                <td><input style="background:transparent;border:none" disabled /></td>
                <td><input style="background:transparent;border:none" disabled /></td>
            </tr>
            <tr>
                <td><input style="background:transparent;border:none" disabled /></td>
                <td><input style="background:transparent;border:none" disabled /></td>
                <td><input style="background:transparent;border:none" disabled /></td>
            </tr>
            <tr>
                <td><input style="background:transparent;border:none" disabled /></td>
                <td><input style="background:transparent;border:none" disabled /></td>
                <td><input style="background:transparent;border:none" disabled /></td>
            </tr>
            <tr class="info">
                <th class="head">Courtyard & Stage</th>
                <th class="head">Hallways & Stairs</th>
                <th class="head">Complab</th>
            </tr>
            <tr>
            <tr>
                <td><input style="background:transparent;border:none" disabled /></td>
                <td><input style="background:transparent;border:none" disabled /></td>
                <td><input style="background:transparent;border:none" disabled /></td>
            </tr>
            <tr>
                <td><input style="background:transparent;border:none" disabled /></td>
                <td><input style="background:transparent;border:none" disabled /></td>
                <td><input style="background:transparent;border:none" disabled /></td>
            </tr>
            <tr>
                <td><input style="background:transparent;border:none" disabled /></td>
                <td><input style="background:transparent;border:none" disabled /></td>
                <td><input style="background:transparent;border:none" disabled /></td>
            </tr>
            <tr>
                <td><input style="background:transparent;border:none" disabled /></td>
                <td><input style="background:transparent;border:none" disabled /></td>
                <td><input style="background:transparent;border:none" disabled /></td>
            </tr>
            <tr>
                <td><input style="background:transparent;border:none" disabled /></td>
                <td><input style="background:transparent;border:none" disabled /></td>
                <th class="head info">Office</th>
            </tr>
            <tr>
                <td><input style="background:transparent;border:none" disabled /></td>
                <td><input style="background:transparent;border:none" disabled /></td>
                <td><input style="background:transparent;border:none" disabled /></td>
            </tr>
            <tr>
                <td><input style="background:transparent;border:none" disabled /></td>
                <td><input style="background:transparent;border:none" disabled /></td>
                <td><input style="background:transparent;border:none" disabled /></td>
            <tr class="info">
                <th class="head">Dining</th>
                <th class="head"></th>
                <th class="head">Windows 2</th>
            </tr>
            <tr>
                @*<td>Clamonte</td>*@
                <td>
                    <select name="studentsDin" id="studentsDin" class="form-control">
                        <option value="EX">( Choose Coordinator Here )</option>

                        <option>Student 1</option>
                        <option>Student 1</option>
                        <option>Student 1</option>
                        <option>Student 1</option>
                    </select>
                </td>
                <td><input style="background:transparent;border:none" disabled /></td>
                <td><input style="background:transparent;border:none" disabled /></td>
            </tr>
            <tr>
                <td><input style="background:transparent;border:none" disabled /></td>
                <td></td>
                <td><input style="background:transparent;border:none" disabled /></td>
            </tr>
            <tr>
                <td><input style="background:transparent;border:none" disabled /></td>
                <td></td>
                <th class="head info">Back Garden</th>
            </tr>
            <tr>
                <td><input style="background:transparent;border:none" disabled /></td>
                <td></td>
                <td><input style="background:transparent;border:none" disabled /></td>
            </tr>
            <tr>
                <td><input style="background:transparent;border:none" disabled /></td>
                <td></td>
                <td><input style="background:transparent;border:none" disabled /></td>
            </tr>
            <tr>
                <td><input style="background:transparent;border:none" disabled /></td>
                <td></td>
                <td><input style="background:transparent;border:none" disabled /></td>
            </tr>
            <tr>
                <td><input style="background:transparent;border:none" disabled /></td>
                <td></td>
                <td><input style="background:transparent;border:none" disabled /></td>
            </tr>
            <tr>
                <td><input style="background:transparent;border:none" disabled /></td>
                <td></td>
                <td><input style="background:transparent;border:none" disabled /></td>
            </tr>
            <tr>
                <td><input style="background:transparent;border:none" disabled /></td>
                <td></td>
                <td><input style="background:transparent;border:none" disabled /></td>
            </tr>
        </tbody>
    </table>
</div>

